<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chen.mapper.UserMapper">
<insert id="insertUser">
    <![CDATA[
        insert into t_user (id,name,age,salary,sex) values (#{id},#{name},#{age},#{salary},#{sex})
    ]]>
</insert>

<update id="updateUser">
        <![CDATA[
        UPDATE t_user SET name = #{name},age = #{age},salary = #{salary},sex = #
        {sex} WHERE id = #{id}
        ]]>
</update>

    <!-- update用来定义一个删除操作
    id：操作的具体标识
    parameterType：指定操作接受的参数类型
    -->
 <update id="deleteUser" parameterType="java.lang.Long">
<![CDATA[
DELETE FROM t_user WHERE id = #{id}
]]>
</update>

    <!-- select用来定义一个查询操作
    id：操作的具体标识
    resultType：指定查询结果保存的类型
    -->
    <select id="getUserList" resultType="com.chen.UserModel">
<![CDATA[
SELECT * FROM t_user
]]>
</select>

   <!--传参-->
<select id="getByName" resultType="com.chen.UserModel">
    select * from t_user where name=#{value} limit 1
</select>


<select id="getByMap" resultType="com.chen.UserModel">
    select * from t_user where id = #{id} or name = #{name}
</select>

<select id="getListByUserFindDto" resultType="com.chen.UserModel">
    select * from t_user where id = #{userId} or name = #{userName}
</select>

    <!-- 通过id或者name查询 -->
<select id="getByIdOrName" resultType="com.chen.UserModel">
  SELECT * FROM t_user WHERE id=#{userId} OR name = #{userName} LIMIT 1
</select>


</mapper>
